* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Prompt', sans-serif;
}

nav h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

nav h3 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #fff;
}

nav h3 a {
  color: #fff;
}

nav a {
  color: #fff;
}

nav h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  font-family: "Bree Serif", "serif";
}

#container {
  margin: 0 auto;
  max-width: 890px;
}

nav p {
  text-align: center;
}

.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  padding: 0 216px;
  background-color: transparent;
  position: absolute;
  top: 33px;
  z-index: 1;
  width: 100%;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 25px;
  line-height: 60px;
  color: #fff;
  width: 250px;
}

#logo img {
  width: 100%;
  background-color: #000;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */
nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.menu {
  margin-right: 40px;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}

/* Styling the links */
nav a {
  display: block;
  padding: 18px 48px;
  color: #fff;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Roboto', sans-serif;
}

nav ul li ul {
  background: #fff;
  border-radius: 0 12px 12px 12px;
}

nav ul li ul li a {
  color: #000000;
}

nav ul li ul li:hover {
  color: #8f8fa1;
}

/* Background color change on Hover */
nav a:hover {
  color: #ff5100;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 50px;
  z-index: 1;
  background-image: #fff;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 220px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}

li > a:only-child:after {
  content: "";
}

/* Media Queries
--------------------------------------------- */
@media all and (max-width: 768px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu {
    margin-right: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav {
    margin: 0 auto;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #254441;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .toggle:hover {
    background-color: #000000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    background-color: #254441;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav ul ul ul a {
    padding: 0 80px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav a:hover,
  nav ul ul ul a {
    background-color: #254441;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* has to be the same number as the "line-height" of "nav a" */
  }
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav ul ul ul li {
    position: static;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

.home-benner {
  width: 100%;
  height: 800px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../img/bg-mainn.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7)), url("../img/bg-mainn.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-benner .text-benner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-benner .text-benner h2 {
  color: #FFF;
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.home-benner .text-benner p {
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.home-benner .text-benner a {
  position: relative;
  top: 50px;
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.about-us {
  width: 100%;
  padding: 67px 216px;
  background-image: url("../img/bg2.png");
  background-position: center;
  background-size: cover;
}

.about-us .about-bg {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.about-us .about-bg .left {
  width: 60%;
}

.about-us .about-bg .left h3 {
  color: black;
  font-weight: 700;
  font-size: 42px;
  position: relative;
  font-family: 'Prompt', sans-serif;
}

.about-us .about-bg .left h3::after {
  content: "";
  width: 52px;
  height: 5px;
  position: absolute;
  top: -10px;
  left: 0;
  background: #000;
}

.about-us .about-bg .left h6 {
  color: black;
  line-height: 40px;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.about-us .about-bg .left p {
  color: black;
  margin-bottom: 50px;
  padding-right: 179px;
  line-height: 25px;
  font-size: 15px;
  font-weight: 300;
}

.about-us .about-bg .left .mission {
  width: 50%;
  float: left;
}

.about-us .about-bg .left .mission img {
  width: 45px;
}

.about-us .about-bg .left .mission h2 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.about-us .about-bg .left .mission p {
  padding-right: 150px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.about-us .about-bg .left .mission a {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #1151D3;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  color: #fff;
  padding: 9px 32px;
  border-radius: 5px;
}

.about-us .about-bg .left .vision {
  width: 50%;
  float: right;
}

.about-us .about-bg .left .vision img {
  width: 45px;
}

.about-us .about-bg .left .vision h2 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.about-us .about-bg .left .vision p {
  padding-right: 150px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.about-us .about-bg .right {
  width: 37%;
  margin-left: 3%;
  height: 653px;
}

.about-us .about-bg .right img {
  width: 100%;
  height: auto;
}

.about-us .about-bg .right .img-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
}

.about-us .about-bg .right .img-1 img {
  width: 100%;
}

.about-us .about-bg .right .img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 350px;
}

.about-us .about-bg .right .img-2 img {
  width: 100%;
}

.video {
  position: relative;
}

.video .img-sec {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.video .img-sec img {
  width: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.video .video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video .video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.video .video-play-button:hover:after {
  background-color: #e6e6e6;
}

.video .video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #ed4e31;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video .video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.video .video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video .video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.video .video-overlay-close:hover {
  color: #fa183d;
}

.video .video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.service-bg {
  background-image: url("../img/bg3.png");
  background-position: center;
  background-size: cover;
  padding: 0 216px;
}

.service-bg .service {
  padding: 100px 0 130px 0;
  width: 100%;
  margin: -8px auto 0 auto;
  position: relative;
}

.service-bg .service h2 {
  font-weight: 600;
  font-size: 42px;
  color: #000;
  position: relative;
  margin-bottom: 10px;
  line-height: 63px;
}

.service-bg .service h2::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 52px;
  height: 5px;
  background-color: black;
  left: 0;
}

.service-bg .service .pera-1 {
  float: left;
}

.service-bg .service .pera-1 p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

.service-bg .service .pera-2 {
  float: right;
}

.service-bg .service .pera-2 p {
  font-size: 15px;
  font-weight: 300;
  padding-right: 76px;
}

.service-bg .service .service-type {
  clear: both;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-bg .service .service-type .one {
  width: 33.33333333333333333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.service-bg .service .service-type .one .img-type {
  width: 26%;
}

.service-bg .service .service-type .one .img-type img {
  width: 100px;
}

.service-bg .service .service-type .one .type-content {
  width: 70%;
  padding: 0 40px 0 0px;
}

.service-bg .service .service-type .one .type-content h3 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 400;
}

.service-bg .service .service-type .one .type-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding-right: 15px;
}

.service-bg .service a {
  text-align: center;
  padding: 8px 46px;
  background-color: #1151D3;
  text-decoration: none;
  color: #fff;
  position: absolute;
  bottom: 34px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 5px;
}

.sky {
  position: relative;
  margin: 0px 0 -8px 0;
  background-image: url("../img/bg5.png");
  height: 243px;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.padelcort {
  width: 100%;
  padding: 225px 216px;
  background: #EAEAEA;
}

.padelcort .padelcort-main {
  width: 100%;
  margin: 0 auto;
}

.padelcort .padelcort-main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.padelcort .padelcort-main .title .left {
  width: 50%;
}

.padelcort .padelcort-main .title .left h2 {
  font-weight: 600;
  font-size: 42px;
  color: #000;
  position: relative;
  margin-bottom: 10px;
  line-height: 65px;
}

.padelcort .padelcort-main .title .left h2::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 52px;
  height: 5px;
  background-color: black;
  left: 0;
}

.padelcort .padelcort-main .title .left p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Mono', monospace;
}

.padelcort .padelcort-main .title .right {
  width: 50%;
}

.padelcort .padelcort-main .title .right p {
  font-size: 15px;
  line-height: 25px;
  padding-right: 120px;
  font-weight: 300;
}

.padelcort .padelcort-main .img-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 92px 0 0 0;
}

.padelcort .padelcort-main .img-sec .one {
  width: 31%;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}

.padelcort .padelcort-main .img-sec .one .img img {
  width: 100%;
  height: 300px;
}

.padelcort .padelcort-main .img-sec .one .text-content {
  width: 97%;
  height: 94%;
  background: #404040;
  position: absolute;
  top: 3%;
  left: 1.5%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.90;
}

.padelcort .padelcort-main .img-sec .one .text-content .text {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.padelcort .padelcort-main .img-sec .one .text-content .text h3 {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
}

.padelcort .padelcort-main .img-sec .one .text-content .text p {
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  font-weight: 400;
}

.padelcort .padelcort-main .img-sec .one .text-content .text img {
  width: 24px;
  margin-top: 5px;
}

.padelcort .padelcort-main .img-sec .one:hover .text-content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ceo {
  padding: 230px 216px 191px 216px;
  text-align: center;
}

.ceo img {
  width: auto;
}

.ceo .letter p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.ceo .letter h3 {
  font-family: 'Rochester', cursive;
  font-size: 42px;
  font-weight: 400;
  line-height: 55px;
  margin: 15px 0;
}

.ceo .letter h4 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}

.glass {
  width: 100%;
  height: 530px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/glasss.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/glasss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.glass img {
  width: 200px;
  background: #000;
  margin: 10px;
}

.glass .text {
  background: rgba(0, 172, 255, 0.6);
  padding: 10px 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.glass .text h2 {
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 400;
}

.glass .text p {
  text-align: center;
  color: #fff;
}

.glass a {
  text-decoration: none;
  color: #fff;
  background-color: #034762;
  border-radius: 5px;
  padding: 9px 32px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 400;
}

.work {
  background-image: url("../img/bg.png");
  padding: 180px 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}

.work .work-content {
  width: 55%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work .work-content .left {
  width: 75%;
  position: relative;
}

.work .work-content .left .text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.work .work-content .left .text h2 {
  font-weight: 600;
  font-size: 42px;
  color: #000;
  position: relative;
  margin-bottom: 25px;
}

.work .work-content .left .text h2::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 52px;
  height: 5px;
  background-color: black;
  left: 0;
}

.work .work-content .left .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.work .work-content .left .text h4 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
}

.work .work-content .right {
  width: 25%;
}

.work .work-content .right img {
  width: 100%;
}

.work .work-content .right .text {
  background: #F5F5F5;
  -webkit-box-shadow: 0px 4px 4px 0px #B9B9B9;
          box-shadow: 0px 4px 4px 0px #B9B9B9;
  padding: 20px 35px;
}

.work .work-content .right .text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.work .work-content .right .text h3 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 300;
  line-height: 29px;
}

.contect {
  padding: 190px 216px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contect .add {
  background-color: #1151D3;
  width: 35%;
  padding: 55px;
}

.contect .add .title h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
}

.contect .add .wraper {
  margin-top: 50px;
}

.contect .add .wraper .img {
  float: left;
}

.contect .add .wraper .img img {
  width: 40px;
}

.contect .add .wraper .letter {
  position: relative;
  left: 24px;
}

.contect .add .wraper .letter p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
}

.contect .form {
  width: 65%;
  background: #F4F6F9;
  padding: 20px 30px;
}

.contect .form form {
  position: relative;
}

.contect .form form .other {
  margin-left: 4%;
}

.contect .form form .name {
  margin-top: 30px;
  width: 48%;
  float: left;
  padding: 15px 10px;
  border: 0;
}

.contect .form form .name::-webkit-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form .name:-ms-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form .name::-ms-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form .name::placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form input {
  width: 100%;
  margin-top: 30px;
  padding: 15px 10px;
  border: 0;
}

.contect .form form input::-webkit-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form input:-ms-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form input::-ms-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form input::placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form textarea {
  width: 100%;
  margin-top: 30px;
  padding: 15px 10px;
  border: 0;
}

.contect .form form textarea::-webkit-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form textarea:-ms-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form textarea::-ms-input-placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form textarea::placeholder {
  color: #000;
  font-family: 'Prompt', sans-serif;
}

.contect .form form button {
  background: #1151D3;
  border-radius: 5px;
  padding: 8px 50px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin: 20px auto 0 45%;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Prompt', sans-serif;
}

.footer {
  padding: 100px 216px 50px 216px;
  background-color: #000;
}

.footer .footer-main {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 80px;
}

.footer .footer-main .one {
  width: 33%;
}

.footer .footer-main .one .logo {
  width: 100%;
}

.footer .footer-main .one .logo img {
  width: 150px;
  background: #000;
}

.footer .footer-main .one .logo p {
  color: #fff;
  font-size: 15px;
  padding-right: 73px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
}

.footer .footer-main .one .logo h3 {
  color: #fff;
  font-size: 15px;
  padding-right: 125px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  margin-top: 35px;
}

.footer .footer-main .one .menuu {
  width: 30%;
  margin: 0 auto;
}

.footer .footer-main .one .menuu h2 {
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

.footer .footer-main .one .menuu ul li {
  list-style: none;
  padding: 10px 0;
}

.footer .footer-main .one .menuu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 0;
}

.footer .footer-main .one .photos {
  padding-left: 60px;
}

.footer .footer-main .one .photos h2 {
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

.footer .footer-main .one .photos .img {
  width: 135px;
  height: 110px;
  float: left;
  margin: 4px 0px 0px 4px;
}

.footer .footer-main .one .photos .img img {
  width: 100%;
}

.footer .copyright {
  text-align: center;
  color: #fff;
  padding-top: 36px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1800px) {
  .footer .footer-main .one .photos .img {
    width: 110px;
    height: 95px;
  }
  .about-us .about-bg .right {
    width: 39%;
    margin-left: 0%;
  }
  .about-us .about-bg .left .mission p {
    padding-right: 90px;
  }
  .about-us .about-bg .left .vision p {
    padding-right: 90px;
  }
  .home-benner .text-benner h2 {
    font-size: 45px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 1600px) {
  .home-benner .text-benner h2 {
    font-size: 38px;
    line-height: 38px;
  }
  nav a {
    display: block;
    padding: 18px 24px;
  }
  .service-bg .service .service-type .one .type-content {
    width: 70%;
    padding: 0 10px 0 18px;
  }
  .service-bg .service .service-type .one .type-content h3 {
    font-size: 14px;
  }
  .service-bg .service .service-type .one .type-content p {
    font-size: 11px;
    line-height: 17px;
  }
  .service-bg .service .service-type .one .img-type img {
    width: 80px;
  }
  .padelcort .padelcort-main .title .right p {
    padding-right: 32px;
    font-size: 14px;
  }
  .padelcort {
    padding: 130px 216px;
  }
}

@media only screen and (max-width: 1500px) {
  .about-us .about-bg .left p {
    line-height: 19px;
    font-size: 14px;
  }
  .about-us .about-bg .left .mission p {
    padding-right: 50px;
    font-size: 14px;
    line-height: 18px;
  }
  .about-us .about-bg .left .vision p {
    padding-right: 50px;
    font-size: 14px;
    line-height: 18px;
  }
  .about-us .about-bg .left .mission a {
    font-size: 14px;
  }
  .service-bg .service .pera-2 p {
    font-size: 14px;
    padding-right: 0;
  }
  .work .work-content {
    width: 68%;
  }
  .contect .add .title h3 {
    font-size: 33px;
  }
  .contect .add .wraper .letter p {
    font-size: 14px;
  }
  .contect .add .wraper .letter {
    left: 16px;
  }
  .footer .footer-main .one .menuu {
    width: 50%;
  }
  .footer .footer-main .one .logo p {
    font-size: 14px;
    line-height: 18px;
  }
  .footer .footer-main .one .photos {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 1400px) {
  .home-benner .text-benner h2 {
    font-size: 35px;
    line-height: 17px;
  }
  .home-benner .text-benner p {
    line-height: 19px;
    font-size: 15px;
  }
  .home-benner .text-benner a {
    padding: 8px 22px;
    font-size: 13px;
  }
  .about-us .about-bg .left p {
    margin-bottom: 40px;
    padding-right: 59px;
  }
  .about-us .about-bg .right {
    height: 421px;
  }
  .about-us .about-bg .left .mission p {
    font-size: 12px;
    line-height: 16px;
  }
  .about-us .about-bg .left .vision p {
    font-size: 12px;
    line-height: 16px;
  }
  .service-bg .service .service-type .one {
    width: 50%;
  }
  .service-bg .service .service-type .one .type-content {
    padding: 0 0px 0 0px;
  }
  .service-bg .service .service-type .one .img-type img {
    width: 90px;
  }
  .service-bg .service a {
    font-size: 14px;
  }
  .about-us {
    width: 100%;
    padding: 67px 140px;
  }
  .service-bg {
    padding: 0 140px;
  }
  .service-bg .service .service-type .one .type-content p {
    font-size: 14px;
  }
  .service-bg .service .service-type .one .type-content h3 {
    font-size: 18px;
  }
  .padelcort {
    padding: 130px 140px;
  }
  .ceo {
    padding: 125px 140px 191px 125px;
  }
  .ceo .letter p {
    font-size: 16px;
    line-height: 22px;
  }
  .footer {
    padding: 100px 140px 50px 140px;
  }
  .contect {
    padding: 190px 140px;
  }
  .home-benner .text-benner h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 25px;
  }
  nav a {
    padding: 13px 10px;
  }
  #logo {
    width: 215px;
  }
  nav {
    padding: 0 160px;
  }
}

@media only screen and (max-width: 1350px) {
  .work .work-content .right .text p {
    font-size: 13px;
    line-height: 18px;
  }
  .work .work-content .right .text h3 {
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .footer .footer-main .one .photos .img {
    width: 98px;
    height: 83px;
  }
  .footer .footer-main .one .menuu ul li a {
    font-size: 16px;
  }
  .footer .footer-main .one .menuu ul li {
    padding: 7px 0;
  }
  .padelcort .padelcort-main .img-sec .one {
    width: 49%;
  }
  .padelcort .padelcort-main .img-sec .one {
    margin-bottom: 21px;
  }
}

@media only screen and (max-width: 1200px) {
  .about-us .about-bg .left p {
    margin-bottom: 15px;
    padding-right: 59px;
  }
  .about-us .about-bg .left .mission p {
    padding-right: 27px;
  }
  .about-us .about-bg .left .vision p {
    padding-right: 27px;
  }
  .about-us .about-bg .left h6 {
    line-height: 13px;
  }
  .about-us .about-bg .left p {
    line-height: 16px;
    font-size: 13px;
  }
  nav {
    padding: 0 85px;
  }
  nav a {
    font-size: 16px;
  }
  .service-bg .service .pera-2 {
    float: none;
    clear: both;
  }
  .contect .form form button {
    margin: 20px auto 0 38%;
  }
  .contect .add .title h3 {
    font-size: 25px;
  }
  .glass .text h2 {
    font-size: 26px;
  }
  .glass .text p {
    font-size: 14px;
  }
  .work .work-content {
    width: 80%;
  }
  .home-benner .text-benner h2 {
    font-size: 27px;
  }
  .home-benner .text-benner p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1100px) {
  .about-us .about-bg .left {
    width: 100%;
    margin: 0 auto;
  }
  .about-us .about-bg .right {
    width: 65%;
    margin-left: 17%;
    height: 545px;
    margin-top: 6%;
  }
  .padelcort .padelcort-main .title .right p {
    line-height: 20px;
    padding-right: 0px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 1050px) {
  .service-bg .service .pera-2 p {
    margin-top: 37px;
  }
  .home-benner .text-benner {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .about-us {
    width: 100%;
    padding: 67px 70px;
  }
  .service-bg {
    padding: 0 70px;
  }
  .padelcort {
    padding: 130px 70px;
  }
  .ceo {
    padding: 100px 70px 100px 70px;
  }
  .work .work-content {
    width: 85%;
  }
  .contect {
    padding: 130px 70px;
  }
  .footer {
    padding: 100px 70px 50px 70px;
  }
  .footer .footer-main .one .photos .img {
    width: 112px;
    height: 66px;
  }
  .footer .footer-main .one {
    width: 50%;
  }
  .footer .footer-main .one-3 {
    width: 100%;
  }
  .footer .footer-main .one .photos h2 {
    font-size: 27px;
    margin-top: 70px;
  }
  .footer .footer-main .one .menuu {
    width: 75%;
  }
  .contect .add {
    padding: 55px 20px 20px 20px;
  }
  nav {
    padding: 0 70px;
  }
  .menu {
    margin-right: 0px;
  }
  #logo {
    padding: 0 0px;
    width: 150px;
  }
  .about-us .about-bg .left p {
    margin-bottom: 36px;
    font-size: 14px;
  }
  .about-us .about-bg .left .mission p {
    margin-bottom: 15px;
    font-size: 13px;
  }
  .about-us .about-bg .left .vision p {
    margin-bottom: 15px;
    font-size: 13px;
  }
  .service-bg .service .service-type .one .img-type img {
    width: 78px;
  }
  .work .work-content .right .text {
    padding: 20px 20px;
  }
  nav a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .contect .add {
    width: 42%;
  }
  .contect .form {
    width: 58%;
  }
  .contect .form form .name {
    width: 100%;
  }
  .contect .form form .other {
    margin-left: 0%;
  }
  .contect .form form button {
    font-size: 13px;
  }
  .contect .form {
    padding: 12px;
  }
}

@media only screen and (max-width: 800px) {
  .service-bg .service .service-type .one .type-content p {
    font-size: 13px;
    line-height: 16px;
  }
  .service-bg .service .service-type .one .type-content h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .service-bg .service .service-type .one .type-content p {
    padding-right: 15px;
  }
  .sky {
    height: 140px;
  }
  .work .work-content .left .text h2 {
    line-height: 45px;
  }
  .work .work-content .left .text p {
    line-height: 18px;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 0 0px;
  }
  .service-bg {
    padding: 0px 30px;
  }
  .padelcort {
    padding: 100px 30px;
  }
  .work .work-content {
    width: 90%;
  }
  .contect {
    padding: 100px 30px;
  }
  .footer {
    padding: 100px 30px 50px 30px;
  }
  .about-us {
    padding: 60px 30px;
  }
  .service-bg .service {
    padding: 60px 0 130px 0;
  }
  .padelcort .padelcort-main .title .left {
    width: 100%;
  }
  .padelcort .padelcort-main .title .right {
    width: 100%;
    margin-top: 50px;
  }
  .padelcort .padelcort-main .img-sec {
    padding: 50px 0 0 0;
  }
  .glass img {
    width: 150px;
  }
  .work .work-content .left .text h2 {
    font-size: 32px;
  }
  .work .work-content .left .text p {
    font-size: 14px;
  }
  .work {
    padding: 100px 0;
  }
  #logo {
    padding: 0 5px;
  }
  .work .work-content .left {
    width: 65%;
  }
  .work .work-content .right {
    width: 35%;
  }
  .work .work-content .left .text p {
    padding-right: 1px;
  }
  .work .work-content .left .text h4 {
    padding-right: 9px;
  }
  .ceo .letter p {
    font-size: 15px;
    line-height: 19px;
  }
  .footer .footer-main .one .photos .img {
    width: 75px;
    height: 44px;
  }
}

@media only screen and (max-width: 650px) {
  .about-us .about-bg .right {
    height: 400px;
  }
  .service-bg .service .service-type .one {
    width: 100%;
  }
  .service-bg .service .service-type .one .img-type img {
    width: 100px;
  }
  .padelcort .padelcort-main .img-sec .one {
    width: 60%;
    margin: 0 auto 20px auto;
  }
  .padelcort .padelcort-main .img-sec .one .text-content {
    height: 96%;
    top: 2%;
  }
  .contect .form form textarea {
    height: 100px;
  }
  .contect .form form button {
    margin: 20px auto 0 30%;
  }
  .glass .text h2 {
    font-size: 20px;
  }
  .glass .text p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .work .work-content .right {
    width: 55%;
    margin: 0 auto;
  }
  .work .work-content .left {
    width: 100%;
    margin-top: 100px;
  }
  .work .work-content .right {
    width: 55%;
    margin: 30% auto 0 auto;
  }
  .contect .add {
    width: 100%;
  }
  .contect .form {
    width: 100%;
  }
  .contect .form form button {
    margin: 20px auto 0 39%;
  }
  .padelcort .padelcort-main .img-sec .one {
    width: 70%;
  }
  .ceo .letter p {
    font-size: 14px;
    line-height: 20px;
  }
  .service-bg .service h2 {
    font-size: 32px;
  }
  .padelcort .padelcort-main .title .left h2 {
    font-size: 32px;
  }
  .work .work-content .left .text h2 {
    font-size: 27px;
  }
  .about-us .about-bg .left h3 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 500px) {
  .about-us .about-bg .left p {
    padding-right: 0px;
  }
  .home-benner .text-benner h2 {
    font-size: 24px;
  }
  .home-benner .text-benner p {
    font-size: 12px;
    padding: 0 30px;
  }
  .home-benner {
    width: 100%;
    height: 100vh;
  }
  .contect .form form button {
    margin: 20px auto 0 29% !important;
  }
  .footer .footer-main .one .logo p {
    padding-right: 0;
    font-size: 13px;
    font-weight: 300;
  }
  .footer .footer-main .one .menuu ul li a {
    font-size: 13px;
  }
  .footer .footer-main .one .menuu ul li {
    padding: 3px 0;
  }
  .ceo {
    padding: 100px 30px 100px 30px;
  }
}

@media only screen and (max-width: 450px) {
  .about-us .about-bg .right img {
    margin-top: 65px;
  }
  .about-us .about-bg .right {
    width: 74%;
    margin-left: 12%;
    margin-top: 7%;
  }
  .about-us .about-bg .left .mission p {
    font-size: 11px;
  }
  .about-us .about-bg .left .vision p {
    font-size: 11px;
  }
  .work .work-content .right {
    margin: 50% auto 0 auto;
  }
  .footer .footer-main .one .logo h3 {
    display: none;
  }
  .work .work-content .right {
    width: 62%;
  }
  .ceo .letter p {
    font-size: 13px;
    line-height: 19px;
  }
  .padelcort .padelcort-main .img-sec .one {
    width: 95%;
  }
  .service-bg .service .service-type .one .type-content p {
    padding-right: 0px;
  }
  .service-bg .service .service-type .one .img-type img {
    width: 75px;
  }
  .about-us .about-bg .left h6 {
    line-height: 28px;
  }
  .about-us .about-bg .left .mission a {
    font-size: 10px;
  }
  .service-bg .service .pera-2 p {
    margin-top: 83px;
  }
  .service-bg .service .service-type .one .type-content {
    width: 70%;
    margin-left: 5%;
  }
  .service-bg .service .service-type .one .img-type {
    width: 25%;
  }
  .service-bg .service a {
    font-size: 10px;
  }
  .sky {
    display: none;
  }
  .glass a {
    font-size: 10px;
  }
  .footer .footer-main .one {
    width: 100%;
  }
  .footer .footer-main .one .menuu {
    width: 100%;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 375px) {
  .work .work-content .right {
    margin: 78% auto 0 auto;
  }
  .work .work-content .left {
    width: 100%;
    margin-top: 145px;
  }
  .home-benner .text-benner h2 {
    font-size: 17px;
  }
  .home-benner .text-benner p {
    font-size: 10px;
    padding: 0 15px;
    line-height: 12px;
  }
  .home-benner .text-benner a {
    padding: 6px 18px;
    font-size: 10px;
  }
}
